<div class="titulo">
  <div class="container">
    <span class="texto">Ekaterina</span>
  </div>
</div>


<div class="contenido">

  <div class="carrusel">
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <img src='assets/eka-1.jpg' alt="Random first slide">
        <div class="carousel-caption mensaje">
          <span>Special person</span>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src='assets/eka-2.jpg' alt="Random second slide">
        <div class="carousel-caption mensaje">
          <span>Lovely mother</span>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src='assets/eka-3.jpg' alt="Random third slide">
        <div class="carousel-caption mensaje">
          <span>Elegant and classy</span>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src='assets/eka-4.jpg' alt="Random third slide">
        <div class="carousel-caption mensaje">
          <span>Strong woman</span>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src='assets/eka-5.jpg' alt="Random third slide">
        <div class="carousel-caption mensaje">
          <span>Mom of a lovely daughter</span>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src='assets/eka-6.jpg' alt="Random third slide">
        <div class="carousel-caption mensaje">
          <span>My dear and special girl</span>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

</div>